NEXT_PUBLIC_APP_ADDRESS=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_UR=

# This must be the private key of the factory owner: 
ORACLE_PRIVATE_KEY=

# RPC URL for the blockchain network
LENS_TESTNET_RPC_URL=https://rpc.lens.xyz

# API keys for price data sources
# Replace this with your actual Alpha Vantage API key
# You can get a free API key at https://www.alphavantage.co/support/#api-key
ALPHAVANTAGE_API_KEY=YOUR_ALPHA_VANTAGE_API_KEY

# Base URL for the application when using scripts
NEXT_PUBLIC_APP_URL=http://localhost:3000

# The address of the deployed factory contract (required)
NEXT_PUBLIC_PREDICTION_FACTORY_ADDRESS=