# Lens Protocol API keys
NEXT_PUBLIC_APP_ADDRESS=

# Contract addresses
NEXT_PUBLIC_TESTNET_FACTORY_ADDRESS=0x...
NEXT_PUBLIC_MAINNET_FACTORY_ADDRESS=0x...

# Network configuration
NEXT_PUBLIC_ENVIRONMENT=production  # development = testnet, production = mainnet

# Database configuration (if applicable)
DATABASE_URL="postgresql://username:password@localhost:5432/database"

# Optional: Analytics, etc.
